<h1>Listing products</h1>

<table>
  <tr>
    <th>Image url</th>
    <th>Item</th>
    <th>Specifications</th>
    <th>Wood used</th>
    <th>Designer</th>
    <th>Price</th>
  </tr>

<% @products.each do |product| %>
  <tr>
    <td><%= product.image_url %></td>
    <td><%= product.item %></td>
    <td><%= product.specifications %></td>
    <td><%= product.wood_used %></td>
    <td><%= product.designer %></td>
    <td><%= product.price %></td>

    <td><%= link_to 'Show', product %></td>
    <td><%= link_to 'Edit', edit_product_path(product) %></td>
    <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<%= form_tag products_path, :method => 'get' do %>
    <p>
      <%= text_field_tag :search_query, params[:search_query] %>
      <%= submit_tag "Search", :item => nil %>
    </p>
<% end %>

<br />

<%= link_to 'New Product', new_product_path %>
